body.codesearch-theme.cobalt {
  /* applied to body - to end of file */
  background-color: #002240;
  color: #f4f4f4;
  /* Theme based syntax highlighting  */
  /*.stx-line { color: @light-text-color; }*/
  /* */
  /* Theme based syntax highlighting  */
}
body.codesearch-theme.cobalt .stx-plain {
  color: #f4f4f4;
}
body.codesearch-theme.cobalt .stx-comment {
  color: #0087fd;
}
body.codesearch-theme.cobalt .stx-keyword {
  color: #fbe57c;
}
body.codesearch-theme.cobalt .stx-macro,
body.codesearch-theme.cobalt .stx-macro a {
  color: #bdccdb;
}
body.codesearch-theme.cobalt .stx-string,
body.codesearch-theme.cobalt .stx-string a {
  color: #3ee800;
}
body.codesearch-theme.cobalt .stx-number {
  color: #f5618c;
}
body.codesearch-theme.cobalt a.NK.NM {
  color: #bdccdb;
}
body.codesearch-theme.cobalt .BO.CO {
  border-color: #888888;
}
body.codesearch-theme.cobalt .gux-dropdown-c {
  background-color: #001427;
  color: #f4f4f4;
  border-color: #004b8d;
}
body.codesearch-theme.cobalt .P0B {
  color: #feda00;
}
body.codesearch-theme.cobalt .C1B {
  color: #ffffff;
}
body.codesearch-theme.cobalt .A1B {
  color: #f4f4f4;
}
body.codesearch-theme.cobalt .M0B {
  background-color: #004b8d;
}
body.codesearch-theme.cobalt .K0B {
  background-color: #001427;
  color: #ffffff;
  border: 1px solid #004b8d;
}
body.codesearch-theme.cobalt .gux-combo-item,
body.codesearch-theme.cobalt .I2B {
  color: #f4f4f4;
}
body.codesearch-theme.cobalt .gux-combo-item-selected,
body.codesearch-theme.cobalt .I2B:hover {
  background-color: #002240;
}
body.codesearch-theme.cobalt .gtb .active {
  border-color: #004b8d;
}
body.codesearch-theme.cobalt .IGB > a {
  color: #f4f4f4;
}
body.codesearch-theme.cobalt a,
body.codesearch-theme.cobalt .O4B,
body.codesearch-theme.cobalt .gwt-TabText {
  color: #feda00;
}
body.codesearch-theme.cobalt a:visited {
  color: #aaaaaa;
}
body.codesearch-theme.cobalt .HO,
body.codesearch-theme.cobalt div.NQ,
body.codesearch-theme.cobalt .FM .MQ {
  background-color: #004b8d;
}
body.codesearch-theme.cobalt .NM {
  color: #f4f4f4 !important;
  background-color: #444411;
}
body.codesearch-theme.cobalt .KMB {
  border-right: 1px solid #004b8d;
}
body.codesearch-theme.cobalt .CSB {
  background-color: #002240;
}
body.codesearch-theme.cobalt .PRB {
  background-color: #001427;
}
body.codesearch-theme.cobalt .AYB {
  color: #aaaaaa !important;
}
body.codesearch-theme.cobalt .EQ {
  color: #ffffff;
}
body.codesearch-theme.cobalt .FQ {
  color: #f4f4f4;
}
body.codesearch-theme.cobalt .AQB {
  color: inherit;
}
body.codesearch-theme.cobalt .CO {
  background-color: #336698 !important;
}
body.codesearch-theme.cobalt .MPB {
  background-color: #004b8d;
}
body.codesearch-theme.cobalt .MPB {
  color: #f4f4f4;
}
body.codesearch-theme.cobalt .GQB a {
  color: #ffffff;
}
body.codesearch-theme.cobalt .AQB {
  color: inherit;
}
body.codesearch-theme.cobalt .CQB > div:first-child > a {
  color: #f4f4f4;
}
body.codesearch-theme.cobalt .FYB {
  border-bottom: 1px solid #004b8d;
}
body.codesearch-theme.cobalt .EQ {
  color: #ffffff;
}
body.codesearch-theme.cobalt .FQ {
  color: #f4f4f4;
}
body.codesearch-theme.cobalt .IYB > pre > a {
  color: #ffffff;
}
body.codesearch-theme.cobalt .IYB > pre > a:hover {
  background-color: #004b8d;
}
body.codesearch-theme.cobalt .HQ,
body.codesearch-theme.cobalt .IL,
body.codesearch-theme.cobalt .gwt-TabLayoutPanelTabs-outer,
body.codesearch-theme.cobalt .gwt-SplitLayoutPanel-HDragger {
  background-color: #001427;
}
body.codesearch-theme.cobalt .gwt-SplitLayoutPanel-VDragger,
body.codesearch-theme.cobalt .gwt-SplitLayoutPanel-HDragger {
  background-color: #004b8d !important;
}
body.codesearch-theme.cobalt .gwt-FastTree .selected .treeItemContent,
body.codesearch-theme.cobalt .gwt-FastTree .selected .treeItemContent .outlineparam,
body.codesearch-theme.cobalt .gwt-FastTree .selected .treeItemContent .outlineicon {
  background-color: #004b8d;
}
body.codesearch-theme.cobalt .FM .IL,
body.codesearch-theme.cobalt .gwt-TabLayoutPanelTabs-outer {
  border-bottom: solid 1px #004b8d;
}
body.codesearch-theme.cobalt .gwt-SplitLayoutPanel-VDragger,
body.codesearch-theme.cobalt .gwt-SplitLayoutPanel-HDragger {
  background-color: #004b8d !important;
}
body.codesearch-theme.cobalt .gwt-FastTree .selected .treeItemContent {
  background-color: #004b8d;
}
body.codesearch-theme.cobalt .gwt-FastTree .selected .treeItemContent .outlineparam,
body.codesearch-theme.cobalt .gwt-FastTree .selected .treeItemContent .outlineicon {
  background-color: #004b8d;
}
body.codesearch-theme.cobalt .gtb {
  background-color: #001427;
  border-bottom: 1px solid #004b8d;
}
body.codesearch-theme.cobalt a.linelink {
  background-color: #002240;
  color: #004b8d;
}
body.codesearch-theme.cobalt .CGB {
  background-color: #002240;
  color: #ffffff;
}
body.codesearch-theme.cobalt .IXB {
  background-color: #004b8d;
  color: #ffffff;
}
body.codesearch-theme.cobalt .gwt-FastTree {
  background-color: inherit;
  color: #f4f4f4;
}
body.codesearch-theme.cobalt a.tab.active {
  background-color: #004b8d;
  color: #ffffff;
}
body.codesearch-theme.cobalt .gwt-FastTree {
  background-color: inherit;
  color: #f4f4f4;
}
body.codesearch-theme.cobalt .PM {
  border-left: 3px solid #001427;
  border-bottom: 3px solid #001427;
  border-right: 3px solid #001427;
}
body.codesearch-theme.cobalt .HQB {
  background-color: #004b8d;
  border-top: 1px solid #004b8d;
  border-bottom: 1px solid #004b8d;
}
body.codesearch-theme.cobalt .F1B,
body.codesearch-theme.cobalt .BVB,
body.codesearch-theme.cobalt .B2B,
body.codesearch-theme.cobalt input[type=text] {
  background-color: #004b8d;
  border: 1px solid #004b8d;
  color: #ffffff;
}
body.codesearch-theme.cobalt .KSB {
  border-left: 3px solid #004b8d;
  border-right: 3px solid #004b8d;
  border-bottom: 3px solid #004b8d;
}
body.codesearch-theme.cobalt .goog-button-base-inner-box {
  background-color: #004b8d;
  border-color: #004b8d !important;
  color: #f4f4f4;
}
body.codesearch-theme.cobalt .goog-button-base-outer-box {
  border-color: #004b8d !important;
}
body.codesearch-theme.cobalt .goog-button-base-top-shadow {
  background-color: #0073d9;
  border-bottom: #0073d9;
}
body.codesearch-theme.cobalt .goog-button-base-hover .goog-button-base-content,
body.codesearch-theme.cobalt .goog-button-base-focused .goog-button-base-content,
body.codesearch-theme.cobalt .goog-button-base-content {
  color: #f4f4f4;
}
