body.codesearch-theme.default {
  /* applied to body - to end of file */
  background-color: #272822;
  color: #dddddd;
  /* Theme based syntax highlighting  */
  /*.stx-line { color: @light-text-color; }*/
  /* */
  /* Theme based syntax highlighting  */
}
body.codesearch-theme.default .stx-plain {
  color: #dddddd;
}
body.codesearch-theme.default .stx-comment {
  color: #aa8855;
}
body.codesearch-theme.default .stx-keyword {
  color: #00bbff;
}
body.codesearch-theme.default .stx-macro,
body.codesearch-theme.default .stx-macro a {
  color: #ff55bb;
}
body.codesearch-theme.default .stx-string,
body.codesearch-theme.default .stx-string a {
  color: #55dd00;
}
body.codesearch-theme.default .stx-number {
  color: #ff4d00;
}
body.codesearch-theme.default a.NK.NM {
  color: #ff55bb;
}
body.codesearch-theme.default .BO.CO {
  border-color: #888888;
}
body.codesearch-theme.default .gux-dropdown-c {
  background-color: #222222;
  color: #dddddd;
  border-color: #444444;
}
body.codesearch-theme.default .P0B {
  color: #82b2dd;
}
body.codesearch-theme.default .C1B {
  color: #eeeeee;
}
body.codesearch-theme.default .A1B {
  color: #dddddd;
}
body.codesearch-theme.default .M0B {
  background-color: #555555;
}
body.codesearch-theme.default .K0B {
  background-color: #222222;
  color: #eeeeee;
  border: 1px solid #444444;
}
body.codesearch-theme.default .gtb .active {
  border-color: #444444;
}
body.codesearch-theme.default .IGB > a {
  color: #dddddd;
}
body.codesearch-theme.default a,
body.codesearch-theme.default .O4B,
body.codesearch-theme.default .gwt-TabText {
  color: #82b2dd;
}
body.codesearch-theme.default a:visited {
  color: #aaaaaa;
}
body.codesearch-theme.default .HO,
body.codesearch-theme.default div.NQ,
body.codesearch-theme.default .FM .MQ {
  background-color: #555555;
}
body.codesearch-theme.default .NM {
  color: #dddddd !important;
  background-color: #666611;
}
body.codesearch-theme.default .KMB {
  border-right: 1px solid #444444;
}
body.codesearch-theme.default .CSB {
  background-color: #272822;
}
body.codesearch-theme.default .PRB {
  background-color: #222222;
}
body.codesearch-theme.default .AYB {
  color: #aaaaaa !important;
}
body.codesearch-theme.default .EQ {
  color: #eeeeee;
}
body.codesearch-theme.default .FQ {
  color: #dddddd;
}
body.codesearch-theme.default .AQB {
  color: inherit;
}
body.codesearch-theme.default .CO {
  background-color: #336698 !important;
}
body.codesearch-theme.default .MPB {
  background-color: #444444;
}
body.codesearch-theme.default .MPB {
  color: #dddddd;
}
body.codesearch-theme.default .GQB a {
  color: #eeeeee;
}
body.codesearch-theme.default .AQB {
  color: inherit;
}
body.codesearch-theme.default .CQB > div:first-child > a {
  color: #dddddd;
}
body.codesearch-theme.default .FYB {
  border-bottom: 1px solid #444444;
}
body.codesearch-theme.default .EQ {
  color: #eeeeee;
}
body.codesearch-theme.default .FQ {
  color: #dddddd;
}
body.codesearch-theme.default .IYB > pre > a {
  color: #eeeeee;
}
body.codesearch-theme.default .IYB > pre > a:hover {
  background-color: #444444;
}
body.codesearch-theme.default .HQ,
body.codesearch-theme.default .IL,
body.codesearch-theme.default .gwt-TabLayoutPanelTabs-outer,
body.codesearch-theme.default .gwt-SplitLayoutPanel-HDragger {
  background-color: #222222;
}
body.codesearch-theme.default .gwt-SplitLayoutPanel-VDragger,
body.codesearch-theme.default .gwt-SplitLayoutPanel-HDragger {
  background-color: #444444 !important;
}
body.codesearch-theme.default .gwt-FastTree .selected .treeItemContent,
body.codesearch-theme.default .gwt-FastTree .selected .treeItemContent .outlineparam,
body.codesearch-theme.default .gwt-FastTree .selected .treeItemContent .outlineicon {
  background-color: #555555;
}
body.codesearch-theme.default .FM .IL,
body.codesearch-theme.default .gwt-TabLayoutPanelTabs-outer {
  border-bottom: solid 1px #444444;
}
body.codesearch-theme.default .gwt-SplitLayoutPanel-VDragger,
body.codesearch-theme.default .gwt-SplitLayoutPanel-HDragger {
  background-color: #444444 !important;
}
body.codesearch-theme.default .gwt-FastTree .selected .treeItemContent {
  background-color: #555555;
}
body.codesearch-theme.default .gwt-FastTree .selected .treeItemContent .outlineparam,
body.codesearch-theme.default .gwt-FastTree .selected .treeItemContent .outlineicon {
  background-color: #555555;
}
body.codesearch-theme.default .gtb {
  background-color: #222222;
  border-bottom: 1px solid #555555;
}
body.codesearch-theme.default a.linelink {
  background-color: #272822;
  color: #555555;
}
body.codesearch-theme.default .CGB {
  background-color: #272822;
  color: #eeeeee;
}
body.codesearch-theme.default .IXB {
  background-color: #444444;
  color: #eeeeee;
}
body.codesearch-theme.default .gwt-FastTree {
  background-color: inherit;
  color: #dddddd;
}
body.codesearch-theme.default a.tab.active {
  background-color: #555555;
  color: #eeeeee;
}
body.codesearch-theme.default .gwt-FastTree {
  background-color: inherit;
  color: #dddddd;
}
body.codesearch-theme.default .PM {
  border-left: 3px solid #222222;
  border-bottom: 3px solid #222222;
  border-right: 3px solid #222222;
}
body.codesearch-theme.default .HQB {
  background-color: #444444;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
}
body.codesearch-theme.default .F1B,
body.codesearch-theme.default .BVB,
body.codesearch-theme.default .B2B,
body.codesearch-theme.default input[type=text] {
  background-color: #555555;
  border: 1px solid #444444;
  color: #eeeeee;
}
body.codesearch-theme.default .KSB {
  border-left: 3px solid #444444;
  border-right: 3px solid #444444;
  border-bottom: 3px solid #444444;
}
body.codesearch-theme.default .goog-button-base-inner-box {
  background-color: #555555;
  border-color: #444444 !important;
  color: #dddddd;
}
body.codesearch-theme.default .goog-button-base-outer-box {
  border-color: #444444 !important;
}
body.codesearch-theme.default .goog-button-base-top-shadow {
  background-color: #7b7b7b;
  border-bottom: #7b7b7b;
}
body.codesearch-theme.default .goog-button-base-hover .goog-button-base-content,
body.codesearch-theme.default .goog-button-base-focused .goog-button-base-content,
body.codesearch-theme.default .goog-button-base-content {
  color: #dddddd;
}
