body.codesearch-theme.espresso-libre {
  /* applied to body - to end of file */
  background-color: #2a211c;
  color: #eeeeee;
  /* Theme based syntax highlighting  */
  /*.stx-line { color: @light-text-color; }*/
  /* */
  /* Theme based syntax highlighting  */
}
body.codesearch-theme.espresso-libre .stx-plain {
  color: #eeeeee;
}
body.codesearch-theme.espresso-libre .stx-comment {
  color: #0065fc;
}
body.codesearch-theme.espresso-libre .stx-keyword {
  color: #42a5e7;
}
body.codesearch-theme.espresso-libre .stx-macro,
body.codesearch-theme.espresso-libre .stx-macro a {
  color: #98f984;
}
body.codesearch-theme.espresso-libre .stx-string,
body.codesearch-theme.espresso-libre .stx-string a {
  color: #00ab07;
}
body.codesearch-theme.espresso-libre .stx-number {
  color: #45af43;
}
body.codesearch-theme.espresso-libre a.NK.NM {
  color: #98f984;
}
body.codesearch-theme.espresso-libre .BO.CO {
  border-color: #888888;
}
body.codesearch-theme.espresso-libre .gux-dropdown-c {
  background-color: #1b1512;
  color: #eeeeee;
  border-color: #58453b;
}
body.codesearch-theme.espresso-libre .P0B {
  color: #43ae43;
}
body.codesearch-theme.espresso-libre .C1B {
  color: #ffffff;
}
body.codesearch-theme.espresso-libre .A1B {
  color: #eeeeee;
}
body.codesearch-theme.espresso-libre .M0B {
  background-color: #58453b;
}
body.codesearch-theme.espresso-libre .K0B {
  background-color: #1b1512;
  color: #ffffff;
  border: 1px solid #58453b;
}
body.codesearch-theme.espresso-libre .gtb .active {
  border-color: #58453b;
}
body.codesearch-theme.espresso-libre .IGB > a {
  color: #eeeeee;
}
body.codesearch-theme.espresso-libre a,
body.codesearch-theme.espresso-libre .O4B,
body.codesearch-theme.espresso-libre .gwt-TabText {
  color: #43ae43;
}
body.codesearch-theme.espresso-libre a:visited {
  color: #aaaaaa;
}
body.codesearch-theme.espresso-libre .HO,
body.codesearch-theme.espresso-libre div.NQ,
body.codesearch-theme.espresso-libre .FM .MQ {
  background-color: #58453b;
}
body.codesearch-theme.espresso-libre .NM {
  color: #eeeeee !important;
  background-color: #444411;
}
body.codesearch-theme.espresso-libre .KMB {
  border-right: 1px solid #58453b;
}
body.codesearch-theme.espresso-libre .CSB {
  background-color: #2a211c;
}
body.codesearch-theme.espresso-libre .PRB {
  background-color: #1b1512;
}
body.codesearch-theme.espresso-libre .AYB {
  color: #aaaaaa !important;
}
body.codesearch-theme.espresso-libre .EQ {
  color: #ffffff;
}
body.codesearch-theme.espresso-libre .FQ {
  color: #eeeeee;
}
body.codesearch-theme.espresso-libre .AQB {
  color: inherit;
}
body.codesearch-theme.espresso-libre .CO {
  background-color: #336698 !important;
}
body.codesearch-theme.espresso-libre .MPB {
  background-color: #58453b;
}
body.codesearch-theme.espresso-libre .MPB {
  color: #eeeeee;
}
body.codesearch-theme.espresso-libre .GQB a {
  color: #ffffff;
}
body.codesearch-theme.espresso-libre .AQB {
  color: inherit;
}
body.codesearch-theme.espresso-libre .CQB > div:first-child > a {
  color: #eeeeee;
}
body.codesearch-theme.espresso-libre .FYB {
  border-bottom: 1px solid #58453b;
}
body.codesearch-theme.espresso-libre .EQ {
  color: #ffffff;
}
body.codesearch-theme.espresso-libre .FQ {
  color: #eeeeee;
}
body.codesearch-theme.espresso-libre .IYB > pre > a {
  color: #ffffff;
}
body.codesearch-theme.espresso-libre .IYB > pre > a:hover {
  background-color: #58453b;
}
body.codesearch-theme.espresso-libre .HQ,
body.codesearch-theme.espresso-libre .IL,
body.codesearch-theme.espresso-libre .gwt-TabLayoutPanelTabs-outer,
body.codesearch-theme.espresso-libre .gwt-SplitLayoutPanel-HDragger {
  background-color: #1b1512;
}
body.codesearch-theme.espresso-libre .gwt-SplitLayoutPanel-VDragger,
body.codesearch-theme.espresso-libre .gwt-SplitLayoutPanel-HDragger {
  background-color: #58453b !important;
}
body.codesearch-theme.espresso-libre .gwt-FastTree .selected .treeItemContent,
body.codesearch-theme.espresso-libre .gwt-FastTree .selected .treeItemContent .outlineparam,
body.codesearch-theme.espresso-libre .gwt-FastTree .selected .treeItemContent .outlineicon {
  background-color: #58453b;
}
body.codesearch-theme.espresso-libre .FM .IL,
body.codesearch-theme.espresso-libre .gwt-TabLayoutPanelTabs-outer {
  border-bottom: solid 1px #58453b;
}
body.codesearch-theme.espresso-libre .gwt-SplitLayoutPanel-VDragger,
body.codesearch-theme.espresso-libre .gwt-SplitLayoutPanel-HDragger {
  background-color: #58453b !important;
}
body.codesearch-theme.espresso-libre .gwt-FastTree .selected .treeItemContent {
  background-color: #58453b;
}
body.codesearch-theme.espresso-libre .gwt-FastTree .selected .treeItemContent .outlineparam,
body.codesearch-theme.espresso-libre .gwt-FastTree .selected .treeItemContent .outlineicon {
  background-color: #58453b;
}
body.codesearch-theme.espresso-libre .gtb {
  background-color: #1b1512;
  border-bottom: 1px solid #58453b;
}
body.codesearch-theme.espresso-libre a.linelink {
  background-color: #2a211c;
  color: #58453b;
}
body.codesearch-theme.espresso-libre .CGB {
  background-color: #2a211c;
  color: #ffffff;
}
body.codesearch-theme.espresso-libre .IXB {
  background-color: #58453b;
  color: #ffffff;
}
body.codesearch-theme.espresso-libre .gwt-FastTree {
  background-color: inherit;
  color: #eeeeee;
}
body.codesearch-theme.espresso-libre a.tab.active {
  background-color: #58453b;
  color: #ffffff;
}
body.codesearch-theme.espresso-libre .gwt-FastTree {
  background-color: inherit;
  color: #eeeeee;
}
body.codesearch-theme.espresso-libre .PM {
  border-left: 3px solid #1b1512;
  border-bottom: 3px solid #1b1512;
  border-right: 3px solid #1b1512;
}
body.codesearch-theme.espresso-libre .HQB {
  background-color: #58453b;
  border-top: 1px solid #58453b;
  border-bottom: 1px solid #58453b;
}
body.codesearch-theme.espresso-libre .F1B,
body.codesearch-theme.espresso-libre .BVB,
body.codesearch-theme.espresso-libre .B2B,
body.codesearch-theme.espresso-libre input[type=text] {
  background-color: #58453b;
  border: 1px solid #58453b;
  color: #ffffff;
}
body.codesearch-theme.espresso-libre .KSB {
  border-left: 3px solid #58453b;
  border-right: 3px solid #58453b;
  border-bottom: 3px solid #58453b;
}
body.codesearch-theme.espresso-libre .goog-button-base-inner-box {
  background-color: #58453b;
  border-color: #58453b !important;
  color: #eeeeee;
}
body.codesearch-theme.espresso-libre .goog-button-base-outer-box {
  border-color: #58453b !important;
}
body.codesearch-theme.espresso-libre .goog-button-base-top-shadow {
  background-color: #866959;
  border-bottom: #866959;
}
body.codesearch-theme.espresso-libre .goog-button-base-hover .goog-button-base-content,
body.codesearch-theme.espresso-libre .goog-button-base-focused .goog-button-base-content,
body.codesearch-theme.espresso-libre .goog-button-base-content {
  color: #eeeeee;
}
