body.codesearch-theme.monokai {
  /* applied to body - to end of file */
  background-color: #272822;
  color: #dddddd;
  /* Theme based syntax highlighting  */
  /*.stx-line { color: @light-text-color; }*/
  /* */
  /* Theme based syntax highlighting  */
}
body.codesearch-theme.monokai .stx-plain {
  color: #dddddd;
}
body.codesearch-theme.monokai .stx-comment {
  color: #757154;
}
body.codesearch-theme.monokai .stx-keyword {
  color: #44bbef;
}
body.codesearch-theme.monokai .stx-macro,
body.codesearch-theme.monokai .stx-macro a {
  color: #ff55bb;
}
body.codesearch-theme.monokai .stx-string,
body.codesearch-theme.monokai .stx-string a {
  color: #a6e22e;
}
body.codesearch-theme.monokai .stx-number {
  color: #9981ff;
}
body.codesearch-theme.monokai a.NK.NM {
  color: #ff55bb;
}
body.codesearch-theme.monokai .BO.CO {
  border-color: #888888;
}
body.codesearch-theme.monokai .gux-dropdown-c {
  background-color: #222222;
  color: #dddddd;
  border-color: #444444;
}
body.codesearch-theme.monokai .P0B {
  color: #82b2dd;
}
body.codesearch-theme.monokai .C1B {
  color: #eeeeee;
}
body.codesearch-theme.monokai .A1B {
  color: #dddddd;
}
body.codesearch-theme.monokai .M0B {
  background-color: #555555;
}
body.codesearch-theme.monokai .K0B {
  background-color: #222222;
  color: #eeeeee;
  border: 1px solid #444444;
}
body.codesearch-theme.monokai .gtb .active {
  border-color: #444444;
}
body.codesearch-theme.monokai .IGB > a {
  color: #dddddd;
}
body.codesearch-theme.monokai a,
body.codesearch-theme.monokai .O4B,
body.codesearch-theme.monokai .gwt-TabText {
  color: #82b2dd;
}
body.codesearch-theme.monokai a:visited {
  color: #aaaaaa;
}
body.codesearch-theme.monokai .HO,
body.codesearch-theme.monokai div.NQ,
body.codesearch-theme.monokai .FM .MQ {
  background-color: #555555;
}
body.codesearch-theme.monokai .NM {
  color: #dddddd !important;
  background-color: #666611;
}
body.codesearch-theme.monokai .KMB {
  border-right: 1px solid #444444;
}
body.codesearch-theme.monokai .CSB {
  background-color: #272822;
}
body.codesearch-theme.monokai .PRB {
  background-color: #222222;
}
body.codesearch-theme.monokai .AYB {
  color: #aaaaaa !important;
}
body.codesearch-theme.monokai .EQ {
  color: #eeeeee;
}
body.codesearch-theme.monokai .FQ {
  color: #dddddd;
}
body.codesearch-theme.monokai .AQB {
  color: inherit;
}
body.codesearch-theme.monokai .CO {
  background-color: #336698 !important;
}
body.codesearch-theme.monokai .MPB {
  background-color: #444444;
}
body.codesearch-theme.monokai .MPB {
  color: #dddddd;
}
body.codesearch-theme.monokai .GQB a {
  color: #eeeeee;
}
body.codesearch-theme.monokai .AQB {
  color: inherit;
}
body.codesearch-theme.monokai .CQB > div:first-child > a {
  color: #dddddd;
}
body.codesearch-theme.monokai .FYB {
  border-bottom: 1px solid #444444;
}
body.codesearch-theme.monokai .EQ {
  color: #eeeeee;
}
body.codesearch-theme.monokai .FQ {
  color: #dddddd;
}
body.codesearch-theme.monokai .IYB > pre > a {
  color: #eeeeee;
}
body.codesearch-theme.monokai .IYB > pre > a:hover {
  background-color: #444444;
}
body.codesearch-theme.monokai .HQ,
body.codesearch-theme.monokai .IL,
body.codesearch-theme.monokai .gwt-TabLayoutPanelTabs-outer,
body.codesearch-theme.monokai .gwt-SplitLayoutPanel-HDragger {
  background-color: #222222;
}
body.codesearch-theme.monokai .gwt-SplitLayoutPanel-VDragger,
body.codesearch-theme.monokai .gwt-SplitLayoutPanel-HDragger {
  background-color: #444444 !important;
}
body.codesearch-theme.monokai .gwt-FastTree .selected .treeItemContent,
body.codesearch-theme.monokai .gwt-FastTree .selected .treeItemContent .outlineparam,
body.codesearch-theme.monokai .gwt-FastTree .selected .treeItemContent .outlineicon {
  background-color: #555555;
}
body.codesearch-theme.monokai .FM .IL,
body.codesearch-theme.monokai .gwt-TabLayoutPanelTabs-outer {
  border-bottom: solid 1px #444444;
}
body.codesearch-theme.monokai .gwt-SplitLayoutPanel-VDragger,
body.codesearch-theme.monokai .gwt-SplitLayoutPanel-HDragger {
  background-color: #444444 !important;
}
body.codesearch-theme.monokai .gwt-FastTree .selected .treeItemContent {
  background-color: #555555;
}
body.codesearch-theme.monokai .gwt-FastTree .selected .treeItemContent .outlineparam,
body.codesearch-theme.monokai .gwt-FastTree .selected .treeItemContent .outlineicon {
  background-color: #555555;
}
body.codesearch-theme.monokai .gtb {
  background-color: #222222;
  border-bottom: 1px solid #555555;
}
body.codesearch-theme.monokai a.linelink {
  background-color: #272822;
  color: #555555;
}
body.codesearch-theme.monokai .CGB {
  background-color: #272822;
  color: #eeeeee;
}
body.codesearch-theme.monokai .IXB {
  background-color: #444444;
  color: #eeeeee;
}
body.codesearch-theme.monokai .gwt-FastTree {
  background-color: inherit;
  color: #dddddd;
}
body.codesearch-theme.monokai a.tab.active {
  background-color: #555555;
  color: #eeeeee;
}
body.codesearch-theme.monokai .gwt-FastTree {
  background-color: inherit;
  color: #dddddd;
}
body.codesearch-theme.monokai .PM {
  border-left: 3px solid #222222;
  border-bottom: 3px solid #222222;
  border-right: 3px solid #222222;
}
body.codesearch-theme.monokai .HQB {
  background-color: #444444;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
}
body.codesearch-theme.monokai .F1B,
body.codesearch-theme.monokai .BVB,
body.codesearch-theme.monokai .B2B,
body.codesearch-theme.monokai input[type=text] {
  background-color: #555555;
  border: 1px solid #444444;
  color: #eeeeee;
}
body.codesearch-theme.monokai .KSB {
  border-left: 3px solid #444444;
  border-right: 3px solid #444444;
  border-bottom: 3px solid #444444;
}
body.codesearch-theme.monokai .goog-button-base-inner-box {
  background-color: #555555;
  border-color: #444444 !important;
  color: #dddddd;
}
body.codesearch-theme.monokai .goog-button-base-outer-box {
  border-color: #444444 !important;
}
body.codesearch-theme.monokai .goog-button-base-top-shadow {
  background-color: #7b7b7b;
  border-bottom: #7b7b7b;
}
body.codesearch-theme.monokai .goog-button-base-hover .goog-button-base-content,
body.codesearch-theme.monokai .goog-button-base-focused .goog-button-base-content,
body.codesearch-theme.monokai .goog-button-base-content {
  color: #dddddd;
}
