body.codesearch-theme.pastels-on-dark {
  /* applied to body - to end of file */
  background-color: #211e1e;
  color: #eeeeee;
  /* Theme based syntax highlighting  */
  /*.stx-line { color: @light-text-color; }*/
  /* */
  /* Theme based syntax highlighting  */
}
body.codesearch-theme.pastels-on-dark .stx-plain {
  color: #eeeeee;
}
body.codesearch-theme.pastels-on-dark .stx-comment {
  color: #59544d;
}
body.codesearch-theme.pastels-on-dark .stx-keyword {
  color: #696bff;
}
body.codesearch-theme.pastels-on-dark .stx-macro,
body.codesearch-theme.pastels-on-dark .stx-macro a {
  color: #6666f3;
}
body.codesearch-theme.pastels-on-dark .stx-string,
body.codesearch-theme.pastels-on-dark .stx-string a {
  color: #b48c56;
}
body.codesearch-theme.pastels-on-dark .stx-number {
  color: #5e2813;
}
body.codesearch-theme.pastels-on-dark a.NK.NM {
  color: #6666f3;
}
body.codesearch-theme.pastels-on-dark .BO.CO {
  border-color: #888888;
}
body.codesearch-theme.pastels-on-dark .gux-dropdown-c {
  background-color: #141212;
  color: #eeeeee;
  border-color: #494242;
}
body.codesearch-theme.pastels-on-dark .P0B {
  color: #9288ad;
}
body.codesearch-theme.pastels-on-dark .C1B {
  color: #ffffff;
}
body.codesearch-theme.pastels-on-dark .A1B {
  color: #eeeeee;
}
body.codesearch-theme.pastels-on-dark .M0B {
  background-color: #494242;
}
body.codesearch-theme.pastels-on-dark .K0B {
  background-color: #141212;
  color: #ffffff;
  border: 1px solid #494242;
}
body.codesearch-theme.pastels-on-dark .gtb .active {
  border-color: #494242;
}
body.codesearch-theme.pastels-on-dark .IGB > a {
  color: #eeeeee;
}
body.codesearch-theme.pastels-on-dark a,
body.codesearch-theme.pastels-on-dark .O4B,
body.codesearch-theme.pastels-on-dark .gwt-TabText {
  color: #9288ad;
}
body.codesearch-theme.pastels-on-dark a:visited {
  color: #aaaaaa;
}
body.codesearch-theme.pastels-on-dark .HO,
body.codesearch-theme.pastels-on-dark div.NQ,
body.codesearch-theme.pastels-on-dark .FM .MQ {
  background-color: #494242;
}
body.codesearch-theme.pastels-on-dark .NM {
  color: #eeeeee !important;
  background-color: #444411;
}
body.codesearch-theme.pastels-on-dark .KMB {
  border-right: 1px solid #494242;
}
body.codesearch-theme.pastels-on-dark .CSB {
  background-color: #211e1e;
}
body.codesearch-theme.pastels-on-dark .PRB {
  background-color: #141212;
}
body.codesearch-theme.pastels-on-dark .AYB {
  color: #aaaaaa !important;
}
body.codesearch-theme.pastels-on-dark .EQ {
  color: #ffffff;
}
body.codesearch-theme.pastels-on-dark .FQ {
  color: #eeeeee;
}
body.codesearch-theme.pastels-on-dark .AQB {
  color: inherit;
}
body.codesearch-theme.pastels-on-dark .CO {
  background-color: #336698 !important;
}
body.codesearch-theme.pastels-on-dark .MPB {
  background-color: #494242;
}
body.codesearch-theme.pastels-on-dark .MPB {
  color: #eeeeee;
}
body.codesearch-theme.pastels-on-dark .GQB a {
  color: #ffffff;
}
body.codesearch-theme.pastels-on-dark .AQB {
  color: inherit;
}
body.codesearch-theme.pastels-on-dark .CQB > div:first-child > a {
  color: #eeeeee;
}
body.codesearch-theme.pastels-on-dark .FYB {
  border-bottom: 1px solid #494242;
}
body.codesearch-theme.pastels-on-dark .EQ {
  color: #ffffff;
}
body.codesearch-theme.pastels-on-dark .FQ {
  color: #eeeeee;
}
body.codesearch-theme.pastels-on-dark .IYB > pre > a {
  color: #ffffff;
}
body.codesearch-theme.pastels-on-dark .IYB > pre > a:hover {
  background-color: #494242;
}
body.codesearch-theme.pastels-on-dark .HQ,
body.codesearch-theme.pastels-on-dark .IL,
body.codesearch-theme.pastels-on-dark .gwt-TabLayoutPanelTabs-outer,
body.codesearch-theme.pastels-on-dark .gwt-SplitLayoutPanel-HDragger {
  background-color: #141212;
}
body.codesearch-theme.pastels-on-dark .gwt-SplitLayoutPanel-VDragger,
body.codesearch-theme.pastels-on-dark .gwt-SplitLayoutPanel-HDragger {
  background-color: #494242 !important;
}
body.codesearch-theme.pastels-on-dark .gwt-FastTree .selected .treeItemContent,
body.codesearch-theme.pastels-on-dark .gwt-FastTree .selected .treeItemContent .outlineparam,
body.codesearch-theme.pastels-on-dark .gwt-FastTree .selected .treeItemContent .outlineicon {
  background-color: #494242;
}
body.codesearch-theme.pastels-on-dark .FM .IL,
body.codesearch-theme.pastels-on-dark .gwt-TabLayoutPanelTabs-outer {
  border-bottom: solid 1px #494242;
}
body.codesearch-theme.pastels-on-dark .gwt-SplitLayoutPanel-VDragger,
body.codesearch-theme.pastels-on-dark .gwt-SplitLayoutPanel-HDragger {
  background-color: #494242 !important;
}
body.codesearch-theme.pastels-on-dark .gwt-FastTree .selected .treeItemContent {
  background-color: #494242;
}
body.codesearch-theme.pastels-on-dark .gwt-FastTree .selected .treeItemContent .outlineparam,
body.codesearch-theme.pastels-on-dark .gwt-FastTree .selected .treeItemContent .outlineicon {
  background-color: #494242;
}
body.codesearch-theme.pastels-on-dark .gtb {
  background-color: #141212;
  border-bottom: 1px solid #494242;
}
body.codesearch-theme.pastels-on-dark a.linelink {
  background-color: #211e1e;
  color: #494242;
}
body.codesearch-theme.pastels-on-dark .CGB {
  background-color: #211e1e;
  color: #ffffff;
}
body.codesearch-theme.pastels-on-dark .IXB {
  background-color: #494242;
  color: #ffffff;
}
body.codesearch-theme.pastels-on-dark .gwt-FastTree {
  background-color: inherit;
  color: #eeeeee;
}
body.codesearch-theme.pastels-on-dark a.tab.active {
  background-color: #494242;
  color: #ffffff;
}
body.codesearch-theme.pastels-on-dark .gwt-FastTree {
  background-color: inherit;
  color: #eeeeee;
}
body.codesearch-theme.pastels-on-dark .PM {
  border-left: 3px solid #141212;
  border-bottom: 3px solid #141212;
  border-right: 3px solid #141212;
}
body.codesearch-theme.pastels-on-dark .HQB {
  background-color: #494242;
  border-top: 1px solid #494242;
  border-bottom: 1px solid #494242;
}
body.codesearch-theme.pastels-on-dark .F1B,
body.codesearch-theme.pastels-on-dark .BVB,
body.codesearch-theme.pastels-on-dark .B2B,
body.codesearch-theme.pastels-on-dark input[type=text] {
  background-color: #494242;
  border: 1px solid #494242;
  color: #ffffff;
}
body.codesearch-theme.pastels-on-dark .KSB {
  border-left: 3px solid #494242;
  border-right: 3px solid #494242;
  border-bottom: 3px solid #494242;
}
body.codesearch-theme.pastels-on-dark .goog-button-base-inner-box {
  background-color: #494242;
  border-color: #494242 !important;
  color: #eeeeee;
}
body.codesearch-theme.pastels-on-dark .goog-button-base-outer-box {
  border-color: #494242 !important;
}
body.codesearch-theme.pastels-on-dark .goog-button-base-top-shadow {
  background-color: #716767;
  border-bottom: #716767;
}
body.codesearch-theme.pastels-on-dark .goog-button-base-hover .goog-button-base-content,
body.codesearch-theme.pastels-on-dark .goog-button-base-focused .goog-button-base-content,
body.codesearch-theme.pastels-on-dark .goog-button-base-content {
  color: #eeeeee;
}
