body.codesearch-theme.twilight {
  /* applied to body - to end of file */
  background-color: #141414;
  color: #dddddd;
  /* Theme based syntax highlighting  */
  /*.stx-line { color: @light-text-color; }*/
  /* */
  /* Theme based syntax highlighting  */
}
body.codesearch-theme.twilight .stx-plain {
  color: #dddddd;
}
body.codesearch-theme.twilight .stx-comment {
  color: #5f5a60;
}
body.codesearch-theme.twilight .stx-keyword {
  color: #cda869;
}
body.codesearch-theme.twilight .stx-macro,
body.codesearch-theme.twilight .stx-macro a {
  color: #a8c4db;
}
body.codesearch-theme.twilight .stx-string,
body.codesearch-theme.twilight .stx-string a {
  color: #8f9d6a;
}
body.codesearch-theme.twilight .stx-number {
  color: #c76a4c;
}
body.codesearch-theme.twilight a.NK.NM {
  color: #a8c4db;
}
body.codesearch-theme.twilight .BO.CO {
  border-color: #888888;
}
body.codesearch-theme.twilight .gux-dropdown-c {
  background-color: #070707;
  color: #dddddd;
  border-color: #444444;
}
body.codesearch-theme.twilight .P0B {
  color: #cda869;
}
body.codesearch-theme.twilight .C1B {
  color: #eeeeee;
}
body.codesearch-theme.twilight .A1B {
  color: #dddddd;
}
body.codesearch-theme.twilight .M0B {
  background-color: #555555;
}
body.codesearch-theme.twilight .K0B {
  background-color: #070707;
  color: #eeeeee;
  border: 1px solid #444444;
}
body.codesearch-theme.twilight .gtb .active {
  border-color: #444444;
}
body.codesearch-theme.twilight .IGB > a {
  color: #dddddd;
}
body.codesearch-theme.twilight a,
body.codesearch-theme.twilight .O4B,
body.codesearch-theme.twilight .gwt-TabText {
  color: #cda869;
}
body.codesearch-theme.twilight a:visited {
  color: #aaaaaa;
}
body.codesearch-theme.twilight .HO,
body.codesearch-theme.twilight div.NQ,
body.codesearch-theme.twilight .FM .MQ {
  background-color: #555555;
}
body.codesearch-theme.twilight .NM {
  color: #000000 !important;
  background-color: #ffe792;
}
body.codesearch-theme.twilight .KMB {
  border-right: 1px solid #444444;
}
body.codesearch-theme.twilight .CSB {
  background-color: #141414;
}
body.codesearch-theme.twilight .PRB {
  background-color: #070707;
}
body.codesearch-theme.twilight .AYB {
  color: #aaaaaa !important;
}
body.codesearch-theme.twilight .EQ {
  color: #eeeeee;
}
body.codesearch-theme.twilight .FQ {
  color: #dddddd;
}
body.codesearch-theme.twilight .AQB {
  color: inherit;
}
body.codesearch-theme.twilight .CO {
  background-color: #336698 !important;
}
body.codesearch-theme.twilight .MPB {
  background-color: #444444;
}
body.codesearch-theme.twilight .MPB {
  color: #dddddd;
}
body.codesearch-theme.twilight .GQB a {
  color: #eeeeee;
}
body.codesearch-theme.twilight .AQB {
  color: inherit;
}
body.codesearch-theme.twilight .CQB > div:first-child > a {
  color: #dddddd;
}
body.codesearch-theme.twilight .FYB {
  border-bottom: 1px solid #444444;
}
body.codesearch-theme.twilight .EQ {
  color: #eeeeee;
}
body.codesearch-theme.twilight .FQ {
  color: #dddddd;
}
body.codesearch-theme.twilight .IYB > pre > a {
  color: #eeeeee;
}
body.codesearch-theme.twilight .IYB > pre > a:hover {
  background-color: #444444;
}
body.codesearch-theme.twilight .HQ,
body.codesearch-theme.twilight .IL,
body.codesearch-theme.twilight .gwt-TabLayoutPanelTabs-outer,
body.codesearch-theme.twilight .gwt-SplitLayoutPanel-HDragger {
  background-color: #070707;
}
body.codesearch-theme.twilight .gwt-SplitLayoutPanel-VDragger,
body.codesearch-theme.twilight .gwt-SplitLayoutPanel-HDragger {
  background-color: #444444 !important;
}
body.codesearch-theme.twilight .gwt-FastTree .selected .treeItemContent,
body.codesearch-theme.twilight .gwt-FastTree .selected .treeItemContent .outlineparam,
body.codesearch-theme.twilight .gwt-FastTree .selected .treeItemContent .outlineicon {
  background-color: #555555;
}
body.codesearch-theme.twilight .FM .IL,
body.codesearch-theme.twilight .gwt-TabLayoutPanelTabs-outer {
  border-bottom: solid 1px #444444;
}
body.codesearch-theme.twilight .gwt-SplitLayoutPanel-VDragger,
body.codesearch-theme.twilight .gwt-SplitLayoutPanel-HDragger {
  background-color: #444444 !important;
}
body.codesearch-theme.twilight .gwt-FastTree .selected .treeItemContent {
  background-color: #555555;
}
body.codesearch-theme.twilight .gwt-FastTree .selected .treeItemContent .outlineparam,
body.codesearch-theme.twilight .gwt-FastTree .selected .treeItemContent .outlineicon {
  background-color: #555555;
}
body.codesearch-theme.twilight .gtb {
  background-color: #070707;
  border-bottom: 1px solid #555555;
}
body.codesearch-theme.twilight a.linelink {
  background-color: #141414;
  color: #555555;
}
body.codesearch-theme.twilight .CGB {
  background-color: #141414;
  color: #eeeeee;
}
body.codesearch-theme.twilight .IXB {
  background-color: #444444;
  color: #eeeeee;
}
body.codesearch-theme.twilight .gwt-FastTree {
  background-color: inherit;
  color: #dddddd;
}
body.codesearch-theme.twilight a.tab.active {
  background-color: #555555;
  color: #eeeeee;
}
body.codesearch-theme.twilight .gwt-FastTree {
  background-color: inherit;
  color: #dddddd;
}
body.codesearch-theme.twilight .PM {
  border-left: 3px solid #070707;
  border-bottom: 3px solid #070707;
  border-right: 3px solid #070707;
}
body.codesearch-theme.twilight .HQB {
  background-color: #444444;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
}
body.codesearch-theme.twilight .F1B,
body.codesearch-theme.twilight .BVB,
body.codesearch-theme.twilight .B2B,
body.codesearch-theme.twilight input[type=text] {
  background-color: #555555;
  border: 1px solid #444444;
  color: #eeeeee;
}
body.codesearch-theme.twilight .KSB {
  border-left: 3px solid #444444;
  border-right: 3px solid #444444;
  border-bottom: 3px solid #444444;
}
body.codesearch-theme.twilight .goog-button-base-inner-box {
  background-color: #555555;
  border-color: #444444 !important;
  color: #dddddd;
}
body.codesearch-theme.twilight .goog-button-base-outer-box {
  border-color: #444444 !important;
}
body.codesearch-theme.twilight .goog-button-base-top-shadow {
  background-color: #7b7b7b;
  border-bottom: #7b7b7b;
}
body.codesearch-theme.twilight .goog-button-base-hover .goog-button-base-content,
body.codesearch-theme.twilight .goog-button-base-focused .goog-button-base-content,
body.codesearch-theme.twilight .goog-button-base-content {
  color: #dddddd;
}
