body.codesearch-theme.monokai {
  background: #272822 ;
  color:#ddd ;
}

.codesearch-theme.monokai .gtb {
background: none repeat scroll 0 0 #222 ;
border-bottom: 1px solid #555 ;
}

.codesearch-theme.monokai .gtb .active {
  border-color: #444;
}

.codesearch-theme.monokai .stx-line {
color: #eee;
}

.codesearch-theme.monokai .stx-comment {
  color:#A85 ;
}

.codesearch-theme.monokai .stx-keyword {
  color:#0bf ;
}

.codesearch-theme.monokai .stx-macro,
.codesearch-theme.monokai .stx-macro a {
  color: #f5b ;
}

.codesearch-theme.monokai a.linelink {
  background:#272822 ;
  color:#555 ;
}

.codesearch-theme.monokai .stx-string, .stx-string a {
  color: #5D0 ;
}

.codesearch-theme.monokai .CGB {
  background: #272822 ;
  color:#eee;
}

.codesearch-theme.monokai .IL,
.codesearch-theme.monokai .gwt-TabLayoutPanelTabs-outer,
.codesearch-theme.monokai .gwt-SplitLayoutPanel-HDragger,
.codesearch-theme.monokai .HQ
{
  background-color:#222 ;
}

.codesearch-theme.monokai .IGB>a {
color: #ddd ;
text-decoration: none;
}

.codesearch-theme.monokai a, .codesearch-theme.monokai .gwt-TabText {
  color:#82B2DD;
}

.codesearch-theme.monokai a:visited {
color: #aaa ;
}

.codesearch-theme.monokai a.tab.active {
  background:#555 ;
  color: white ;
}

.codesearch-theme.monokai .HO , div.NQ {
background-color: #555 ;
}

.codesearch-theme.monokai .NM {
background-color: #661 ;
}

.codesearch-theme.monokai .PM {
border-left: 3px solid #222 ;
border-bottom: 3px solid #222 ;
border-right: 3px solid #222 ;
}

.codesearch-theme.monokai .FM .IL {
border-bottom: solid 1px #222 ;
}


.codesearch-theme.monokai .KMB {
border-right: 1px solid #444 ;
}

.codesearch-theme.monokai .CSB {
background-color: #272822;
}

.codesearch-theme.monokai .PRB {
background-color: #222;
}

.codesearch-theme.monokai .IXB {
background-color: #444;
color: #eee;
}

.codesearch-theme.monokai .IYB>pre>a {
color: rgb(238, 238, 238);
}

.codesearch-theme.monokai .IYB>pre>a:hover {
  background-color: #444;
}

.codesearch-theme.monokai a.AYB {
  color:#0aF !important;
}

.codesearch-theme.monokai .CO {
  background: #336698 !important;
}

.codesearch-theme.monokai .MPB {
background-color: #444;
color:#ddd;
}

.codesearch-theme.monokai .HQB {
  background: #444;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}

.codesearch-theme.monokai .GQB a {
  color:#eee;
}

.codesearch-theme.monokai .AQB {
  color:inherit;
}

.codesearch-theme.monokai  .CQB>div:first-child>a {
  color: #ddd;
}

.codesearch-theme.monokai .gwt-SplitLayoutPanel-VDragger,
.codesearch-theme.monokai .gwt-SplitLayoutPanel-HDragger
 {
  background-color: #444 !important;
}

.codesearch-theme.monokai .gwt-FastTree {
background: inherit;
color:#ddd;
}

.codesearch-theme.monokai .EQ {
  color:#eee;
}

.codesearch-theme.monokai .FQ {
  color:#ddd;
}


.codesearch-theme.monokai .gwt-FastTree .selected .treeItemContent,
.codesearch-theme.monokai .gwt-FastTree .selected .treeItemContent .outlineparam,
.codesearch-theme.monokai .gwt-FastTree .selected .treeItemContent .outlineicon
{
  background-color: #555;
}
