/* applied to body - to end of file */
background-color: @bg-color ;
color: @text-color;

 /* Theme based syntax highlighting  */
/*.stx-line { color: @light-text-color; }*/
.stx-plain { color: @text-color; }
.stx-comment { color: @stx-comment; }
.stx-keyword { color: @stx-keyword; }
.stx-macro, .stx-macro a { color: @stx-macro; }
.stx-string, .stx-string a { color: @stx-string; }
.stx-number { color: @stx-number; }
a.NK.NM { color:@stx-macro; }

/* */
.BO.CO { border-color:@light-border-color; }
.gux-dropdown-c {
  background-color:@dark-bg-color;
  color:@text-color;
  border-color:@border-color;
}
.P0B { color: @link-color; }
.C1B { color: @light-text-color; }
.A1B { color: @text-color; }
.M0B {
  background-color: @selectioncolor;
}
.K0B {
  background-color: @dark-bg-color ;
  color:@light-text-color;
  border: 1px solid @border-color;
}
.gux-combo-item , .I2B { color:@text-color; }
.gux-combo-item-selected, .I2B:hover { background-color:@bg-color; }
.gtb .active { border-color: @border-color; }
.IGB>a { color: @text-color; }
a, .O4B, .gwt-TabText { color:@link-color; }
a:visited { color: @visited-color; }
.HO, div.NQ, .FM .MQ { background-color: @selectioncolor; }
.NM { color: @hover-selection-color !important;
  background-color:@hover-selection-bg-color; }
.KMB { border-right: 1px solid @border-color; }
.CSB { background-color: @bg-color; }
.PRB { background-color: @dark-bg-color; }
.AYB { color:@visited-color !important; }
.EQ { color:@light-text-color; }
.FQ { color:@text-color; }
.AQB { color:inherit; }
.CO { background-color: #336698 !important; }
.MPB { background-color: @border-color; }
.MPB { color:@text-color; }
.GQB a { color: @light-text-color; }
.AQB { color: inherit; }
.CQB>div:first-child>a { color: @text-color; }
.FYB { border-bottom: 1px solid @border-color; }
.EQ { color:@light-text-color; }
.FQ { color:@text-color; }
.IYB>pre>a { color: @light-text-color; }
.IYB>pre>a:hover { background-color: @border-color; }
.HQ, .IL, .gwt-TabLayoutPanelTabs-outer, .gwt-SplitLayoutPanel-HDragger
{ background-color:@dark-bg-color; }
.gwt-SplitLayoutPanel-VDragger, .gwt-SplitLayoutPanel-HDragger
{ background-color: @border-color !important; }
.gwt-FastTree .selected .treeItemContent,
.gwt-FastTree .selected .treeItemContent .outlineparam,
.gwt-FastTree .selected .treeItemContent .outlineicon
{ background-color: @selectioncolor; }
.FM .IL , .gwt-TabLayoutPanelTabs-outer
{ border-bottom: solid 1px @border-color; }
.gwt-SplitLayoutPanel-VDragger, .gwt-SplitLayoutPanel-HDragger
{ background-color: @border-color !important; }
.gwt-FastTree .selected .treeItemContent {
  background-color: @selectioncolor;
  .outlineparam, .outlineicon
  {
    background-color: @selectioncolor;
  }
}
.gtb {
  background-color: @dark-bg-color ;
  border-bottom: 1px solid @selectioncolor ;
}
a.linelink {
  background-color:@bg-color ;
  color:@selectioncolor ;
}
.CGB {
  background-color: @bg-color ;
  color:@light-text-color;
}
.IXB {
  background-color: @border-color;
  color: @light-text-color;
}
.gwt-FastTree {
  background-color: inherit;
  color:@text-color;
}
a.tab.active {
  background-color: @selectioncolor ;
  color: @light-text-color ;
}
.gwt-FastTree {
  background-color: inherit;
  color:@text-color;
}
.PM {
  border-left: 3px solid @dark-bg-color ;
  border-bottom: 3px solid @dark-bg-color ;
  border-right: 3px solid @dark-bg-color ;
}
.HQB {
  background-color: @border-color;
  border-top: 1px solid @border-color;
  border-bottom: 1px solid @border-color;
}
.F1B, .BVB, .B2B, input[type=text] {
  background-color: @selectioncolor;
  border: 1px solid @border-color;
  color:@light-text-color;
}
.KSB {
  border-left: 3px solid @border-color;
  border-right: 3px solid @border-color;
  border-bottom: 3px solid @border-color;
}
.goog-button-base-inner-box {
  background-color:@selectioncolor;
  border-color:@border-color !important;
  color:@text-color;
}
.goog-button-base-outer-box {
  border-color:@border-color !important;
}
.goog-button-base-top-shadow {
  background-color:lighten(@selectioncolor,15%);
  border-bottom:lighten(@selectioncolor,15%);
}
.goog-button-base-hover .goog-button-base-content,
.goog-button-base-focused .goog-button-base-content,
.goog-button-base-content {
  color:@text-color;
}
